<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._04weibo.mapper.WeiboMapper">
    <!--发布微博功能-->
    <insert id="insertWeibo">
        INSERT INTO weibo(content, created, user_id)
        VALUES (#{content}, #{created}, #{userId})
    </insert>

    <!--微博首页列表展示-->
    <select id="selectIndex" resultType="cn.tedu._04weibo.pojo.vo.WeiboIndexVO">
        SELECT w.id, w.content, u.nickname
        FROM user u
                 JOIN weibo w ON u.id = w.user_id
    </select>

    <!--微博详情页功能-->
    <resultMap id="aaa" type="cn.tedu._04weibo.pojo.vo.WeiboDetailVO">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="created" property="created"/>
        <result column="nickname" property="nickname"/>
    </resultMap>
    <select id="selectById" resultMap="aaa">
        SELECT w.id, w.content, w.created, u.nickname
        FROM user u
                 JOIN weibo w ON u.id = w.user_id
        WHERE w.id = #{id}
    </select>
</mapper>
