<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._03mybatis.mapper.CommentMapper">
    <resultMap id="aaa" type="cn.tedu._03mybatis.pojo.vo.ResultMapVO1">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="user_Id" property="userId"/>
    </resultMap>

    <select id="selectResultMap1" resultMap="aaa">
        select id,content,user_id from weibo where id=#{wid}
    </select>

    <!--单表练习-->
    <resultMap id="bbb" type="cn.tedu._03mybatis.pojo.vo.ResultMapVO2">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
    </resultMap>
    <select id="selectResultMap2" resultMap="bbb">
        SELECT id,
               username,
               password,
               nickname
        FROM user
        WHERE id = #{uid}
    </select>
</mapper>
