<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._03mybatis.mapper.WeiboMapper">
    <insert id="insertWeibo">
        INSERT INTO weibo(content, created, user_id)
        VALUES (#{content}, #{created}, #{userId})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM weibo
        WHERE id = #{id}
    </delete>

    <update id="updateById">
        UPDATE weibo
        SET content=#{content},
            created=#{created},
            user_id=#{userId}
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="cn.tedu._03mybatis.pojo.entity.Weibo">
        SELECT id, content, created, user_id userId
        FROM weibo
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="cn.tedu._03mybatis.pojo.entity.Weibo">
        SELECT id, content, created, user_id userId
        FROM weibo
    </select>

    <select id="selectByWid" resultType="cn.tedu._03mybatis.pojo.vo.WeiboVO1">
        SELECT content, created
        FROM weibo
        WHERE id = #{wid}
    </select>

    <select id="selectByUid" resultType="cn.tedu._03mybatis.pojo.vo.WeiboVO2">
        SELECT id, content, created
        FROM weibo
        WHERE user_id = #{uid}
    </select>

    <!--动态修改-->
    <update id="dynamicUpdate">
        UPDATE weibo
        <set>
            <if test="content!=null">content=#{content},</if>
            <if test="created!=null">created=#{created},</if>
            <if test="userId!=null">user_id=#{userId}</if>
        </set>
        WHERE id=#{id}
    </update>

    <!--
        动态删除:数组方式
        DELETE FROM weibo WHERE id IN (2,3,6)
        <foreach>标签
           collection属性：需要遍历的对象类型,数组为array，集合为list
           item属性：遍历出每个元素的变量名称
           separator属性：不同元素间的分隔符(一切以SQL语法为准)
    -->
    <sql id="deleteSql">
        DELETE
        FROM weibo
        WHERE id IN
    </sql>
    <delete id="dynamicDelete1">
        <include refid="deleteSql"/>
        (
        <foreach collection="array" item="aaa" separator=",">
            #{aaa}
        </foreach>
        )
    </delete>

    <!--动态删除:List集合方式, collection属性值为 list-->
    <delete id="dynamicDelete2">
        <include refid="deleteSql"/>
        (
        <foreach collection="list" item="aaa" separator=",">
            #{aaa}
        </foreach>
        )
    </delete>

    <!--统计数量
        注意: resultType 属性值为 int
    -->
    <select id="selectCount" resultType="int">
        SELECT COUNT(*)
        FROM weibo
    </select>

    <!--多表查询: 单条微博的内容,时间,用户昵称-->
    <select id="selectWeiboById" resultType="cn.tedu._03mybatis.pojo.vo.WeiboVO3">
        SELECT w.content, w.created, u.nickname
        FROM user u
                 JOIN weibo w ON u.id = w.user_id
        WHERE w.id = #{wid}
    </select>

    <select id="selectComment" resultType="cn.tedu._03mybatis.pojo.vo.WeiboVO4">
        SELECT c.id, c.content, c.created, u.nickname
        FROM user u
                 JOIN comment c ON u.id = c.user_id
        WHERE c.weibo_id = #{wid}
    </select>

</mapper>
