<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu._04mvcboot02.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO mvcdb.user(username, password, nickname, created)
        VALUES (#{username}, #{password}, #{nickname}, #{created})
    </insert>

    <select id="selectUserList" resultType="cn.tedu._04mvcboot02.vo.UserListVO">
        select username,password from mvcdb.user
    </select>

    <delete id="deleteUser">
        DELETE FROM mvcdb.user  WHERE id = #{id}
    </delete>

    <update id="updateUser">
        update mvcdb.user
        <set>
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="nickname!=null">nickname=#{nickname},</if>
        </set>
        where id=#{id}
    </update>
</mapper>







